.nav {
    width: 100%;
    display: flex;
    gap: var(--grid-gap);
    /* justify-content: space-between; */

    background-color: #522258;
    color: #fff;

    padding-block:20px;
    padding-inline: var(--grid-gap);
    a {
        text-decoration: none;
    }
    .nav-menu {
        display: none;
        gap: var(--grid-gap)

        /* background-color: #fa0; */
    }
    /* .nav-menu:nth-of-type(1){ */
        /* background-color: #fa0; */
        /* margin-right: auto; */

    /* } */
    .nav-menu:nth-of-type(2){
        margin-left: auto;
    }
    .nav-logo {
        font-weight: bolder;
        text-transform: uppercase;
    }
    .nav-toggle {
        display: flex;
        margin-left: auto;
    }
}
@media(min-width:600px){
    .nav {
        .nav-menu {
            display: flex;
        }
        .nav-toggle {
            display: none;
        }
        
    }
}
.mobile-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #00000073;
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    color: #fff;
    .nav-logo {
        /* background-color: #fa0; */
        font-size: 3rem;
        text-align: center;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        gap:30px;
        align-items: center;
        margin-block: auto;
        /* background-color: #098; */
    }
    a {
        text-decoration: none;
        font-size: 2rem;
    }
}
/* nav a {
    text-decoration: none;
} */
header {
    width: 100%;
    /* height: 600px; */
    aspect-ratio: 4 / 3;
    /* background: url('https://picsum.photos/id/76/1600/900') no-repeat center / cover ; */
    /* background-image: url('https://picsum.photos/id/76/1600/900'); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    position: relative;
    .header-caption {
        background-color: #ffffff4b;
        backdrop-filter: blur(5px);
        position: absolute; 
        /* top: 0;
        bottom: 0;
        left: 0;
        right: 0; */
        inset: 0;
        margin: auto;
        width: 60%;
        height: fit-content;
        text-align: center;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap:10px;
        h1 {
            /* font-size: 5rem; */
            font-size: clamp(2rem,6vw,5rem);
            text-transform: uppercase;
        }
        p {
            font-size: 1.5rem;
            font-size: clamp(1rem,2vw,1.5rem);
        }
    }
}
@media(max-width:440px){
    header p {
        display: none;
    }
}
@media(min-width: 600px){
    header {
        aspect-ratio: 2 / 1;
    }
    header .header-caption {
        padding: 30px;
        gap:20px;
    }
}
.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about {
    padding-block:150px;
    text-align: center;
    background-image: linear-gradient(to right bottom,#d3c0ff,#ffa4d5);

    h3 {
        font-size: 2rem;
    }
    .about-item {
        display: flex;
        flex-direction: column;
        gap:var(--grid-gap);
    }
}
#folio {
    text-align: center;
    padding-block: 150px;
    img {
        aspect-ratio: 1/1;
    }
    figure {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        figcaption {
            position: absolute;
            inset: 0;
            background-color: #52225885;
            backdrop-filter: blur(5px);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 1.5rem;
            opacity: 1;
            transition: .3s;
            text-transform: capitalize;
        }
        
    }
    a:hover {
        figcaption {
            opacity: 0;
        }
    }
    .col-3 {
        --grid-gap: 5px;
    }
}
footer {
    background-color: #522258;
    color: #fff;
    padding: var(--grid-gap);
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
}
